.dashboard-button {
    border: none;
    background-color: inherit;
    color: #0550e3;
    &:hover {
        color: #1a3468;
    }
}

.header-pos {
    position: fixed;
    height: 10rem;
    width: 100%;
    z-index: 100;
}

.content-pos{
    padding-top: 12rem;
    position: sticky;
}

