<div class="container-fluid">

  <div class=" header-pos p-3 mb-3 text-center bg-light">
    <h1 class="mb-3">Welcome to {{ title }}!</h1>
    <h4 class="mb-3" style="color: rgb(41, 41, 99)">Dashboard</h4>

    <button class="dashboard-button"><img src="assets/plus.svg">Add new Item</button>
    <button class="dashboard-button" (click)="getAllItems()"><img src="assets/refresh.svg">Refresh</button>
  </div>

  <div *ngIf="items && items.length > 0" class="content-pos">
    <ng-container *ngFor="let item of items">
      <div class="row">
        <ng-container *ngFor="let itm of item">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{itm.id}}.  {{itm.employee_name}}</h5>
              <span class="card-text">{{itm.employee_age}}</span>
              <p class="card-text">{{itm.employee_salary}}</p>
              <button class="btn btn-primary">Edit</button> &nbsp;&nbsp;&nbsp;
              <button class="btn btn-primary" (click)="onDeleteItem(itm.id)">Delete</button>
            </div>
          </div>
        </div>
      </ng-container>
      </div>
    </ng-container>
  </div>

</div>

<router-outlet></router-outlet>