.content-pos{
    position: absolute;
    top: 12rem;
    width: 98%;
    height: fit-content;
    bottom: 5rem;
    overflow: auto;
    padding-bottom: 4rem;
}

.success-color {
    color: green;
}

.error-color {
    color: red;
}