.content-pos{
    position: absolute;
    top: 12rem;
    width: 98%;
    height: fit-content;
    bottom: 5rem;
    overflow: auto;
    padding-bottom: 4rem;
}

.search-input {
    width: 34%;
    padding: 5px;
    margin: 5px 0;
    outline: none;
    border-color: transparent;
    border-bottom: 2px solid #1c87c9;
}

.success-color {
    color: green;
}

.error-color {
    color: red;
}

.card-body label {
    color: grey;
}

.card-body span {
    font-weight: 400;
}